# Ignore everything, except listed files
*

# Global files
!.gitignore
!.gitattributes
!README.md
!LICENSE

# Projects files
!Makefile
!make.bat
!makeclean.bat
!VOS.sln
!VOS.vcxproj
!VOS.vcxproj.filters
!VOS.vcxproj.user

# Batch files
!batch/vos_mem.sh
!batch/vos_thr.sh
!batch/VOS.bat
!batch/VOS_mem.bat

# Sources files
!main.cpp
!Vos.h
!Vos.cpp

# System
!System/
!System/System.h
!System/SysEvent.h
!System/SysMessage.h
!System/SysCPU.h
!System/SysCPU.cpp
!System/SysCRC.h
!System/SysSleep.h
!System/SysThread.h
!System/SysThread.cpp
!System/SysMutex.h
!System/SysMutexLocker.h
!System/SysDisplayMode.h
!System/SysCursor.h
!System/SysWindow.h
!System/SysVulkan.h
!System/SysClock.h
!System/SysClock.cpp
!System/SysMouse.h
!System/SysMouse.cpp
!System/SysKeys.h
!System/SysKeys.cpp
!System/SysSettings.h
!System/SysSettings.cpp
!System/Lin/SysMessage.h
!System/Lin/SysMessage.cpp
!System/Lin/SysCPU.h
!System/Lin/SysDisplayMode.h
!System/Lin/SysDisplayMode.cpp
!System/Lin/SysWindow.h
!System/Lin/SysWindow.cpp
!System/Lin/SysVulkan.h
!System/Lin/SysVulkan.cpp
!System/Win/SysMessage.h
!System/Win/SysMessage.cpp
!System/Win/SysCPU.h
!System/Win/SysDisplayMode.h
!System/Win/SysDisplayMode.cpp
!System/Win/SysWindow.h
!System/Win/SysWindow.cpp
!System/Win/SysVulkan.h
!System/Win/SysVulkan.cpp

# Network
!Network/
!Network/IPAddress4.h
!Network/IPAddress6.h
!Network/TCPSocket.h
!Network/UDPSocket.h
!Network/Lin/
!Network/Lin/IPAddress4.h
!Network/Lin/IPAddress4.cpp
!Network/Lin/IPAddress6.h
!Network/Lin/IPAddress6.cpp
!Network/Lin/TCPSocket.h
!Network/Lin/TCPSocket.cpp
!Network/Lin/UDPSocket.h
!Network/Lin/UDPSocket.cpp
!Network/Win/
!Network/Win/NetworkInit.cpp
!Network/Win/IPAddress4.h
!Network/Win/IPAddress4.cpp
!Network/Win/IPAddress6.h
!Network/Win/IPAddress6.cpp
!Network/Win/TCPSocket.h
!Network/Win/TCPSocket.cpp
!Network/Win/UDPSocket.h
!Network/Win/UDPSocket.cpp

# Compress
!Compress/
!Compress/ZLib.h
!Compress/ZLib.cpp

# Math
!Math/
!Math/Math.h
!Math/Sinus.h
!Math/MultiInt.h
!Math/Vector2.h
!Math/Vector2i.h
!Math/Vector3.h
!Math/Vector3i.h
!Math/Vector4.h
!Math/Vector4i.h
!Math/Matrix4x4.h
!Math/Transform2.h
!Math/Transform3.h

# Images
!Images/
!Images/Embedded/
!Images/Embedded/Cursor.h
!Images/Embedded/NSCursor.h
!Images/Embedded/EWCursor.h
!Images/Embedded/NESWCursor.h
!Images/Embedded/NWSECursor.h
!Images/Embedded/PxFont.h
!Images/Embedded/Window.h
!Images/Embedded/ToggleButton.h
!Images/Embedded/ProgressBar.h
!Images/BMPFile.h
!Images/BMPFile.cpp
!Images/PNGFile.h
!Images/PNGFile.cpp

# Physics
!Physics/
!Physics/Physics.h
!Physics/Physics.cpp
!Physics/PhysicsTransform2.h
!Physics/PhysicsTransform2.cpp
!Physics/PhysicsTransform3.h
!Physics/PhysicsTransform3.cpp
!Physics/Collision2.h
!Physics/Collision2.cpp
!Physics/MatrixChunk2.h
!Physics/MatrixChunk2.cpp
!Physics/MatrixStream2.h
!Physics/MatrixStream2.cpp
!Physics/BoundingSurfaces/
!Physics/BoundingSurfaces/BoundingCircle.h
!Physics/BoundingSurfaces/BoundingCircle.cpp
!Physics/BoundingSurfaces/BoundingAlignRect.h
!Physics/BoundingSurfaces/BoundingAlignRect.cpp
!Physics/BoundingSurfaces/BoundingRect.h
!Physics/BoundingSurfaces/BoundingRect.cpp

# Renderer
!Renderer/
!Renderer/View.h
!Renderer/View.cpp
!Renderer/Camera.h
!Renderer/Camera.cpp
!Renderer/FreeFlyCam.h
!Renderer/FreeFlyCam.cpp
!Renderer/OrbitalCam.h
!Renderer/OrbitalCam.cpp
!Renderer/Sprite.h
!Renderer/Sprite.cpp
!Renderer/ProcSprite.h
!Renderer/ProcSprite.cpp
!Renderer/Plane.h
!Renderer/Plane.cpp
!Renderer/SkyBox.h
!Renderer/SkyBox.cpp
!Renderer/SkyProc.h
!Renderer/SkyProc.cpp
!Renderer/StaticMesh.h
!Renderer/StaticMesh.cpp
!Renderer/WorldLight.h
!Renderer/WorldLight.cpp
!Renderer/BackRenderer.h
!Renderer/BackRenderer.cpp
!Renderer/Renderer.h
!Renderer/Renderer.cpp

# Vulkan
!Renderer/Vulkan/
!Renderer/Vulkan/Vulkan.h
!Renderer/Vulkan/Vulkan.cpp
!Renderer/Vulkan/VulkanMemory.h
!Renderer/Vulkan/VulkanMemory.cpp
!Renderer/Vulkan/VulkanQueue.h
!Renderer/Vulkan/VulkanQueue.cpp
!Renderer/Vulkan/Swapchain.h
!Renderer/Vulkan/Swapchain.cpp
!Renderer/Vulkan/Backchain.h
!Renderer/Vulkan/Backchain.cpp
!Renderer/Vulkan/Uniformchain.h
!Renderer/Vulkan/Uniformchain.cpp
!Renderer/Vulkan/VulkanBuffer.h
!Renderer/Vulkan/VulkanBuffer.cpp
!Renderer/Vulkan/VertexBuffer.h
!Renderer/Vulkan/VertexBuffer.cpp
!Renderer/Vulkan/UniformBuffer.h
!Renderer/Vulkan/UniformBuffer.cpp
!Renderer/Vulkan/GraphicsLayout.h
!Renderer/Vulkan/GraphicsLayout.cpp
!Renderer/Vulkan/ComputeLayout.h
!Renderer/Vulkan/ComputeLayout.cpp
!Renderer/Vulkan/Pipeline.h
!Renderer/Vulkan/Pipeline.cpp
!Renderer/Vulkan/ComputePipeline.h
!Renderer/Vulkan/ComputePipeline.cpp
!Renderer/Vulkan/Shader.h
!Renderer/Vulkan/Shader.cpp
!Renderer/Vulkan/Texture.h
!Renderer/Vulkan/Texture.cpp
!Renderer/Vulkan/TextureArray.h
!Renderer/Vulkan/TextureArray.cpp
!Renderer/Vulkan/CubeMap.h
!Renderer/Vulkan/CubeMap.cpp

# HeightMap
!Renderer/HeightMap/
!Renderer/HeightMap/HeightMapChunk.h
!Renderer/HeightMap/HeightMapChunk.cpp
!Renderer/HeightMap/HeightFarChunk.h
!Renderer/HeightMap/HeightFarChunk.cpp
!Renderer/HeightMap/HeightMapStream.h
!Renderer/HeightMap/HeightMapStream.cpp
!Renderer/HeightMap/HeightFarStream.h
!Renderer/HeightMap/HeightFarStream.cpp
!Renderer/HeightMap/SeaNearChunk.h
!Renderer/HeightMap/SeaNearChunk.cpp
!Renderer/HeightMap/SeaFarChunk.h
!Renderer/HeightMap/SeaFarChunk.cpp
!Renderer/HeightMap/SeaNearStream.h
!Renderer/HeightMap/SeaNearStream.cpp
!Renderer/HeightMap/SeaFarStream.h
!Renderer/HeightMap/SeaFarStream.cpp

# Shaders
!Renderer/Shaders/
!Renderer/Shaders/Sources/
!Renderer/Shaders/Sources/Default.vert
!Renderer/Shaders/Sources/Default.frag
!Renderer/Shaders/Sources/DefaultProc.frag
!Renderer/Shaders/Sources/NinePatch.frag
!Renderer/Shaders/Sources/Rectangle.frag
!Renderer/Shaders/Sources/Ellipse.frag
!Renderer/Shaders/Sources/PxText.frag
!Renderer/Shaders/Sources/Button.frag
!Renderer/Shaders/Sources/ToggleButton.frag
!Renderer/Shaders/Sources/ProgressBar.frag
!Renderer/Shaders/Sources/SkyBox.vert
!Renderer/Shaders/Sources/SkyBox.frag
!Renderer/Shaders/Sources/SkyProc.frag
!Renderer/Shaders/Sources/StaticMesh.vert
!Renderer/Shaders/Sources/StaticMesh.frag
!Renderer/Shaders/Sources/StaticProc.frag
!Renderer/Shaders/Sources/HeightMap.vert
!Renderer/Shaders/Sources/HeightMap.frag
!Renderer/Shaders/Sources/HeightFar.vert
!Renderer/Shaders/Sources/HeightFar.frag
!Renderer/Shaders/Sources/SeaNear.vert
!Renderer/Shaders/Sources/SeaNear.frag
!Renderer/Shaders/Sources/SeaFar.vert
!Renderer/Shaders/Sources/SeaFar.frag
!Renderer/Shaders/Default.h
!Renderer/Shaders/DefaultProc.h
!Renderer/Shaders/NinePatch.h
!Renderer/Shaders/Rectangle.h
!Renderer/Shaders/Ellipse.h
!Renderer/Shaders/PxText.h
!Renderer/Shaders/Button.h
!Renderer/Shaders/ToggleButton.h
!Renderer/Shaders/ProgressBar.h
!Renderer/Shaders/SkyBox.h
!Renderer/Shaders/SkyProc.h
!Renderer/Shaders/StaticMesh.h
!Renderer/Shaders/StaticProc.h
!Renderer/Shaders/HeightMap.h
!Renderer/Shaders/HeightFar.h
!Renderer/Shaders/SeaNear.h
!Renderer/Shaders/SeaFar.h

# Shapes
!Renderer/Shapes/
!Renderer/Shapes/RectangleShape.h
!Renderer/Shapes/RectangleShape.cpp
!Renderer/Shapes/EllipseShape.h
!Renderer/Shapes/EllipseShape.cpp
!Renderer/Shapes/CuboidShape.h
!Renderer/Shapes/CuboidShape.cpp

# GUI
!Renderer/GUI/
!Renderer/GUI/GUICursor.h
!Renderer/GUI/GUICursor.cpp
!Renderer/GUI/GUIPxText.h
!Renderer/GUI/GUIPxText.cpp
!Renderer/GUI/GUIWindow.h
!Renderer/GUI/GUIWindow.cpp
!Renderer/GUI/GUIButton.h
!Renderer/GUI/GUIButton.cpp
!Renderer/GUI/GUIToggleButton.h
!Renderer/GUI/GUIToggleButton.cpp
!Renderer/GUI/GUIProgressBar.h
!Renderer/GUI/GUIProgressBar.cpp

# Resources
!Resources/
!Resources/Resources.h
!Resources/Resources.cpp
!Resources/TextureLoader.h
!Resources/TextureLoader.cpp
!Resources/MeshLoader.h
!Resources/MeshLoader.cpp
!Resources/MatrixColLoader.h
!Resources/MatrixColLoader.cpp
!Resources/HeightMapLoader.h
!Resources/HeightMapLoader.cpp
!Resources/HeightFarLoader.h
!Resources/HeightFarLoader.cpp

# Textures files
!Textures/
!textures/testsprite.png
!textures/testbutton.png
!textures/tile.png
!textures/tile2.png
!textures/tile3.png
!textures/tile4.png
!textures/cubemaptest.png

# Models files
!Models/
!models/testmodel.vmsh

# Softwares files
!Softwares/
!Softwares/Softwares.h
!Softwares/Softwares.cpp
!Softwares/TopDown/
!Softwares/TopDown/TopDown.h
!Softwares/TopDown/TopDown.cpp
!Softwares/TopDown/TopDownPlayer.h
!Softwares/TopDown/TopDownPlayer.cpp
!Softwares/FirstPerson/
!Softwares/FirstPerson/FirstPerson.h
!Softwares/FirstPerson/FirstPerson.cpp
!Softwares/FirstPerson/FirstPersonPlayer.h
!Softwares/FirstPerson/FirstPersonPlayer.cpp
