# Ignore everything, except listed files
*

# Global files
!.gitignore
!README.md
!LICENSE

# Projects files
!Makefile
!VOS.sln
!VOS.vcxproj
!VOS.vcxproj.filters
!VOS.vcxproj.user

# Batch files
!batch/
!batch/vos_mem.sh
!batch/vos_thr.sh
!batch/VOS.bat
!batch/VOS_mem.bat

# Sources files
!main.cpp
!System.h
!Status.h
!Event.h
!Vos.h
!Vos.cpp

!DisplayMode.h
!SysWindow.h
!Vulkan.h
!Lin/
!Lin/DisplayMode.h
!Lin/DisplayMode.cpp
!Lin/SysWindow.h
!Lin/SysWindow.cpp
!Lin/SysVulkan.h
!Lin/SysVulkan.cpp
!Win/
!Win/DisplayMode.h
!Win/DisplayMode.cpp
!Win/SysWindow.h
!Win/SysWindow.cpp
!Win/Vulkan.h
!Win/SysVulkan.h
!Win/SysVulkan.cpp

!Renderer/
!Renderer/Vulkan.h
!Renderer/Vulkan.cpp
!Renderer/Renderer.h
!Renderer/Renderer.cpp
