# Ignore everything, except listed files
*

# Global files
!.gitignore
!README.md
!LICENSE

# Projects files
!Makefile
!VOS.sln
!VOS.vcxproj
!VOS.vcxproj.filters
!VOS.vcxproj.user

# Batch files
!batch/vos_mem.sh
!batch/vos_thr.sh
!batch/VOS.bat
!batch/VOS_mem.bat

# Sources files
!main.cpp
!Event.h
!Vos.h
!Vos.cpp

!System/
!System/Win/
!System/Lin/
!System/System.h
!System/DisplayMode.h
!System/SysWindow.h
!System/Vulkan.h
!System/SysVulkan.h
!System/SysClock.h
!System/SysClock.cpp
!System/Lin/DisplayMode.h
!System/Lin/DisplayMode.cpp
!System/Lin/SysDisplayMode.h
!System/Lin/SysDisplayMode.cpp
!System/Lin/SysWindow.h
!System/Lin/SysWindow.cpp
!System/Lin/SysVulkan.h
!System/Lin/SysVulkan.cpp
!System/Win/DisplayMode.h
!System/Win/DisplayMode.cpp
!System/Win/SysDisplayMode.h
!System/Win/SysDisplayMode.cpp
!System/Win/SysWindow.h
!System/Win/SysWindow.cpp
!System/Win/Vulkan.h
!System/Win/SysVulkan.h
!System/Win/SysVulkan.cpp

!Renderer/Vulkan.h
!Renderer/Vulkan.cpp
!Renderer/Renderer.h
!Renderer/Renderer.cpp
